BEGIN TRANSACTION;
IF COL_LENGTH('Personas','FailedLoginAttempts') IS NULL
    ALTER TABLE Personas ADD FailedLoginAttempts int NOT NULL DEFAULT 0;
IF COL_LENGTH('Personas','LockoutEnd') IS NULL
    ALTER TABLE Personas ADD LockoutEnd datetime2 NULL;
IF NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory WHERE MigrationId = '20260203174151_AddPersonaLockoutFields')
    INSERT INTO __EFMigrationsHistory (MigrationId, ProductVersion) VALUES (N'20260203174151_AddPersonaLockoutFields', N'8.0.11');
COMMIT;
GO
